
/******************************
 Browser-specific CSS to created rounded corners for IE8 and lower
******************************/

ul.nice-menu-down li.menu-343{background:#14B1E6 url("images/bkg.nav.ie.gif") top left no-repeat;}
ul.nice-menu-down li.menu-344{background:#96BC33 url("images/bkg.nav.ie.gif") -147px 0 no-repeat;}
ul.nice-menu-down li.menu-345{background:#015488 url("images/bkg.nav.ie.gif") -294px 0 no-repeat;}
ul.nice-menu-down li.menu-346{background:#F27120 url("images/bkg.nav.ie.gif") -441px 0 no-repeat;}

ul.nice-menu-down li.menu-347{background:#006FAF url("images/bkg.nav.ie.gif") -588px 0 no-repeat;}

ul.nice-menu-down li.menu-2864{background:#006FAF url("images/bkg.nav.ie.gif") -588px 0 no-repeat;}



